# Node
node_modules/
dist/
pnpm-lock.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Env files
.env*
!.env.example

# Docker
*.log
.dockerignore

# IDEs y sistema
.vscode/
*.swp
.DS_Store
Thumbs.db
